{% extends "shop/layout.html" %}

{% load static %}

{% block title %}
Community market
{% endblock %}

{% block breadcrumber_title %}
Community market
{% endblock %}

{% block breadcrumber_subtitle %}
<span>Shopping details</span>
{% endblock %}

{% block content %}
<!-- Product Section Begin -->
<section class="product spad" id="app1">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Department</h4>
                        <ul>
                            {% verbatim %}
                            <li v-for="c in categories"><a href="#">{{ c }}</a></li>
                            {% endverbatim %}

                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <h4>Price</h4>
                        <div class="price-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="10" data-max="540">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <!--div class="filter__found">
                                {% verbatim %}
                                <h6>Order by:
                                    <span @click="sortProductsBy('name')">Name</span>
                                    <span @click="sortProductsBy('price')">Price</span>
                                </h6>
                                {% endverbatim %}
                            </div-->
                            <div class="filter__sort">
                                <span>Sort By</span>
                                {% verbatim %}
                                <select @change="sortProductsBy('name')">
                                    <option value="name">Name</option>
                                    <option value="price">Price</option>
                                </select>
                                {% endverbatim %}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                {% verbatim %}
                                <h6><span>{{ products.length }}</span> Products found</h6>
                                {% endverbatim %}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- products grid -->
                <div class="row">

                    {% verbatim %}
                    <div v-for="product in products" class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div v-bind:style="{backgroundImage: 'url(' + product.Picture + ')'}"
                                :data-setbg="product.Picture" class="product__item__pic set-bg">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a v-on:click.prevent="yo('opening product info page')" href="#"><i
                                                class="fa fa-info"></i></a></li>
                                    <li><a v-on:click.prevent="yo('going to the cart')" href="#"><i
                                                class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">{{ product.ProductName }}</a></h6>
                                <h5>${{ product.Price }}</h5>
                            </div>
                        </div>
                    </div>
                    {% endverbatim %}

                </div>
                <!-- end of products grid -->
                <div class="product__pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
<script>
    var app = new Vue({
        el: '#app1',
        data: {
            products: [],
            categories: [],
            farmers: [],
        },
        methods: {
            sortProductsBy(sortType) {
                if (sortType == "price") {
                    this.products.sort(function (a, b) {
                        var A = Number(a.Price);
                        var B = Number(b.Price);
                        if (A < B) return -1;
                        if (A > B) return 1;
                        return 0;
                    });
                }
                if (sortType == "name") {
                    this.products.sort(function (a, b) {
                        var A = String(a.ProductName);
                        var B = String(b.ProductName);
                        if (A < B) return -1;
                        if (A > B) return 1;
                        return 0;
                    });
                }
            },
            yo(message) {
                alert(message);
            },
        },
        mounted: function () {
            // get products
            axios.get('/api/products')
                .then((response) => {
                    this.products = response.data;
                    this.sortProductsBy("name");
                })
                .catch((error) => {
                    console.log(error);
                });
            axios.get('/api/categories')
                .then((response) => {
                    this.categories = response.data;
                })
                .catch((error) => {
                    console.log(error);
                });
        }
    })
</script>
{% endblock %}