{% extends "web/layout.html" %}

{% block title%}
Web market - user profile
{% endblock %}

{% block body %}

<h1 class="title mt-3 mb-3 text-center">
    My profile
</h1>

<div class="d-flex align-items-start">
    <div class="d-flex align-items-start">

        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
                type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Contacts</button>
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Security</button>
            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings"
                type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
        </div>

        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <form class="row g-3" method="post" action="/profile/">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <label for="inputFirstName" class="form-label">First name</label>
                                <input type="first_name" class="form-control" id="first_name" name="first_name" required
                                    value="{{user.first_name}}">
                            </div>
                            <div class="col-md-6">
                                <label for="inputLastName" class="form-label">Last name</label>
                                <input type="last_name" class="form-control" id="last_name" name="last_name" required
                                    value="{{user.last_name}}">
                            </div>
                            <div class="col-12">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="address" placeholder="1234 Main St"
                                    name="address" required value="{{profile.address}}">
                            </div>
                            <div class="col-md-6">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" id="city" name="city" required
                                    value="{{profile.city}}">
                            </div>
                            <div class="col-md-4">
                                <label for="province" class="form-label">Province</label>
                                <select id="province" class="form-select" name="province" required>
                                    <option value="{{profile.province}}" selected>{{profile.province}}</option>
                                    <option value="Alberta">Alberta</option>
                                    <option value="British Columbia">British Columbia</option>
                                    <option value="Manitoba">Manitoba</option>
                                    <option value="New Brunswick">New Brunswick</option>
                                    <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                                    <option value="Northwest Territories">Northwest Territories</option>
                                    <option value="Nova Scotia">Nova Scotia</option>
                                    <option value="Nunavut">Nunavut</option>
                                    <option value="Ontario">Ontario</option>
                                    <option value="Prince Edward Island">Prince Edward Island</option>
                                    <option value="Quebec">Quebec</option>
                                    <option value="Saskatchewan">Saskatchewan</option>
                                    <option value="Yukon">Yukon</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="zip" class="form-label">Zip</label>
                                <input type="text" class="form-control" id="zip" name="zip" required
                                    value="{{profile.zip}}">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <!-- security -->
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <form class="row g-3" method="post" action="/profile/">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <label for="newPassword" class="form-label">New password</label>
                                <input type="password" class="form-control" id="new_password" name="new_password"
                                    required>
                            </div>
                            <div class="col-md-6">
                                <label for="newPasswordConfirm" class="form-label">Confirm new password</label>
                                <input type="password" class="form-control" id="new_password_confirm"
                                    name="new_password_confirm" required>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>

            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <!-- settings -->
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <form class="row g-3" method="post" action="/profile/">
                            {% csrf_token %}
                            <div class="form-check form-switch">
                                <input name="wantPromoEmails" type="hidden" value="False">
                                <input class="form-check-input" type="checkbox" role="switch" id="wantPromoEmails"
                                    name="wantPromoEmails" {% if profile.wantPromoEmails %} checked {%endif %}
                                    value="True">
                                <label class="form-check-label" for="wantPromoEmails">I'd like to get news about the
                                    platform</label>
                            </div>
                            <div class="form-check form-switch">
                                <input name="wantMarketingEmails" type="hidden" value="False">
                                <input class="form-check-input" type="checkbox" role="switch" id="wantMarketingEmails"
                                    name="wantMarketingEmails" {% if profile.wantMarketingEmails %} checked {%endif %}
                                    value="True">
                                <label class="form-check-label" for="wantMarketingEmails">I'd like to get marketing
                                    emails from platform partners</label>
                            </div>
                            <div class="form-check form-switch">
                                <input name="isFarmer" type="hidden" value="False">
                                <input class="form-check-input" type="checkbox" role="switch" id="isFarmer"
                                    name="isFarmer" {% if profile.isFarmer %} checked {%endif %} value="True">
                                <label class="form-check-label" for="isFarmer">I will be using platform to offer my
                                    products</label>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}